body {
    font-family: 'Open Sans', sans-serif;
    background: radial-gradient(circle, #a18dce, #f492f0);
}
.logo {
padding-top: 50px;
font-family: Fantasy;
color: darkslateblue;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.login-form {
    width: 300px;
    padding: 20px;
    background-color: #f492f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #CDB4DB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #CDB4DB;
}